body {
	color: #333;
	font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding: 1rem;
	margin: 6rem auto;
	max-width: 36rem;
}
header {
	display: flex;
	justify-content: space-between;
}
header img {
	height: 3rem;
	vertical-align: middle;
	width: 3rem;
}
.no-underline {
	text-decoration: none;
}
h1 {
	align-self: center;
	display: inline;
	font-size: 1.5rem;
}
h2 {
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: 2.5rem;
}
ol {
	margin-left: 1.5rem;
	list-style-type: decimal-leading-zero;
}
a {
	text-decoration: underline;
}
.links a {
	color: #717171;
	font-size: 0.9rem;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
a:hover {
	color: #ff5d5d;
}
::selection {
	background-color: #999;
	color: white;
}
.text-gray-600 {
	color: #595959;
}
.text-lg {
	font-size: 1.5rem;
}
.mb-1 {
	margin-bottom: 1rem;
}
.mt-3 {
	margin-top: 3rem;
}
.mt-5 {
	margin-top: 5rem;
}
.my-5 {
	margin: 5rem 0;
}
@media screen and (min-width: 600px) {
	main {
		padding-right: 1rem;
	}
	footer {
		display: inline-block;
		transform: rotate(90deg);
		transform-origin: right top;
		position: absolute;
		right: 2rem;
		bottom: 2rem;
	}
	ol {
		margin-left: 0;
	}
	.links li:not(:first-child) {
		margin-left: 2rem;
	}
	.links li {
		display: inline;
	}
}
