{{ define "title" }}
	{{ .Title }} — {{ $.Site.Title }}
{{ end }}

{{ define "description" }}
	{{ .Summary }}
{{ end }}

{{ define "logo-margin-bottom" }}
	mb-16
{{ end }}

{{ define "main" }}
	<div class="flex justify-between mb-4">
		<h1 class="font-bold"><a href="{{ .Permalink }}" class="hover:underline hover:underline-offset-2">{{ .Title }}</a></h1>
		<span
			href="{{ .Permalink }}"
			class="text-gray-600 text-right"
		>
			{{ .Date.Format "2 January 2006" }}
		</span>
	</div>
	<article class="prose prose-lg prose-a:underline-offset-2 prose-h2:text-base max-w-none">{{ .Content }}</article>
{{ end }}

{{ define "footer" }}
	<footer class="text-center">
		<p class="prose prose-a:underline-offset-2 max-w-none text-sm pt-2 mt-24"><a href="/" class="underline font-bold">undo.studio</a> is a daily journal on what it’s like to build a software business from the ground up.</p>
		<form
			action="https://buttondown.email/api/emails/embed-subscribe/john"
			method="post"
			target="popupwindow"
			onsubmit="window.open('https://buttondown.email/john', 'popupwindow')"
			class="embeddable-buttondown-form mt-6 flex justify-center"
		>
			<input type="email" name="email" id="bd-email" placeholder="you@example.com" class="appearance-none shadow rounded-md ring-1 ring-slate-900/5 leading-5 text-sm border border-transparent placeholder:text-slate-400 p-2 w-72 mr-4 text-slate-900 focus:outline-none focus:ring-2 focus:ring-sky-500 bg-white" />
			<input type="submit" value="Subscribe" class="text-sm bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-12 px-6 rounded-lg hover:cursor-pointer" />
		</form>
	</footer>
{{ end }}
