{{ define "main" }}
	<p class="text-stone-600 text-base border border-dashed border-stone-600 rounded-2xl p-4"><b>undo.studio</b> is a journal about creating a calm, bootstrapped software business from scratch.</p>
	<span class="text-stone-500 text-base mt-4 mb-24 px-4 flex justify-between">
		<span>by <a href="https://johnjago.com" class="underline underline-offset-2">JC</a></span>
		<a href="#posts" class="underline underline-offset-2">Jump to all posts ↓</a>
	</span>
	{{ range first 1 .Pages }}
	<div class="mb-8">
		<h1 class="font-bold text-4xl"><a href="{{ .Permalink }}" class="hover:underline hover:underline-offset-2">{{ .Title }}</a></h1>
		<span
			href="{{ .Permalink }}"
			class="text-sm text-stone-500"
		>
			{{ .Date.Format "2 January 2006" }}
		</span>
	</div>
	<article class="mb-8 prose prose-lg prose-a:underline-offset-2 prose-a:decoration-2 prose-h2:text-2xl">
		{{ .Content }}
	</article>
	{{ end }}
	<hr class="mb-20 bg-stone-900 w-3 h-3 border-0">
	<h1
		id="posts"
		class="font-bold text-4xl pt-4 mb-10"
	>
		All posts
	</h1>
	{{ range after 1 .Pages }}
	<a
		href="{{ .Permalink }}"
		class="font-semibold hover:underline hover:underline-offset-2"
	>
		{{ .Title }}
	</a>
	<time
		datetime="{{ .Date.Format "2006-01-02" }}"
		class="text-sm text-stone-500 mb-4 block"
	>
		{{ .Date.Format "2 January 2006" }}
	</time>
	{{ end }}
	<hr class="mt-8 bg-stone-900 w-3 h-3 border-0">
{{ end }}
